.person {
  background-image: url("https://images.unsplash.com/photo-1470164971321-eb5ac2c35f2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px dotted black;
  background-color: beige;
  font-size: 30px;
  text-align: center;
}

#may {
  border: 3px solid blue;
  background-color: beige;
  font-family: cursive;
}
#june {
  border: 3px solid brown;
  background-color: orange;
  font-weight: bold;
}

#july {
  border: 3px solid red;
  font-style: italic;
  background-color: yellow;
}

span.highlight {
  background-color: orange;
  font-family: "Permanent Marker", cursive;
}

h1 {
  font-color: green;
  font-family: "Pacifico", cursive;
}

h2 {
  color: grey;
  font-family: "Boogaloo", cursive;
  background-color: pink;
}

.hi {
  color: purple;
  font-style: oblique;
}

ul {
  color: pink;
  font-size: 30px;
  font-style: italic;
  list-style: square;
}
ol {
  color: purple;
}

.Lists {
  background-color: beige;
}

.foods {
  border: 3px solid green;
}

.drinks {
  font-variant: small-caps;
  font-weight: bold;
  border: 3px solid brown;
}

.places {
  border: 3px solid blue;
}

.hobbies {
  border: 3px solid purple;
}

.sidebar_title {
  text-align: center;
}

.sidebar_ul {
  border-style: dashed;
  background-color: grey;
}
